body {
    font-family: var(--mainfont);
}

.header {
    padding: 57px 0;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.logo {
    display: block;
}

.bar {
    display: none;
    width: 25px;
}

.list-item a {
    color: #0D0E43
}

.header .active {
    color: var(--primary);
}

.search form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}

.search input {
    border: none;
    outline: none;
    width: 250px;
    padding: 9px 5px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}

@media screen and (max-width:650px) {

    .list,
    .header .search {
        display: none;
    }

    .bar {
        display: block;
    }

    .logo {
        display: block;
    }
}

/* end header*/
/*start hero*/
.hero {
    background-color: #F2F0FF;
    padding: 50px 0;
}

.hero-contant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 85%;

}

.hero-contant .hero-lamp {
    position: relative;
    bottom: 50px;
    width: 20%;
}

.text-contant {
    padding: 12px 0;
    font-size: 13px;
    margin: auto;
}

.hero-img {
    flex: 1 0 60%;
}

.hero-img img {
    width: 25%;
}



/* start product*/
.featured-product {
    padding: 50px 0;
}

.featured-product h2 {
    margin-bottom: 30px;
    color: #1A0B5B
}

.featured-product .row {
    justify-content: flex-start;
    gap: 15px;
}

.featured-product .product {
    flex: 1 0 300px;
    border-radius: 4px;
    box-shadow: 0 4px 4px #00000040;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product div div button {
    position: relative;
    top: -6px;
}

.color{
    width: 22px;
    height: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.color-1 {
    background-color: #05E6B7;
}

.color-2 {
    background-color: #F701A8;
}

.color-3 {
    background-color: #00009D;
    transition: all .6s;
}


.viwe-btn a {
   opacity: 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    bottom: 34px;
    transition: all 1s;
  
}
 .product .viwe-btn :hover a { 
    opacity: 1;
    background: #388E3C;
}

.products-details h3 {
    transition: all .6s;
}

.product:hover .color-3 {
    background-color: #FFEAC1;
}
.products-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transition: all .6s;
}

.product:hover .products-details {
    background-color: #2F1AC4;
    border-radius: 2px;

}

.product-info {
    color: #151875;
}

.product-info span {
    transition: all .9s;
}

.product :hover .products-details h3{
    color: #fff;
}

.product:hover .product-info span {
    color: #fff;
    text-shadow: 10px;
}

.icons {
    opacity: 0;
    width: 20px;
    height: 20px;;
    padding: 7px 0;
    cursor: pointer;
    transition: all 1s;
}

.product .img:hover .icons .icon {
    opacity: 1;
    color: #2F1AC4;
}

.product .img {
    background-color: #F6F7FB;
    padding: 30px;
    height: 250px;
    object-fit: contain;
}

.product .img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.feature-product .product .img .icons {
    display: flex;
    gap: 16px;
}


/* end product*/
/*start leatest product*/
.leatest-products {
    text-align: center;
    padding: 50px 0;
}

.badge-sale {
    position: absolute;
    top: 2039px;
    left: 547px;
}

.leatesrproduct-items {
    width: 60%;
    display: flex;
    gap: 50px;
    padding: 50px;
}

.leatesrproduct-items .img {
    padding: 30px;
    background-color: #ffe6f079;
    object-fit: contain;
    margin-bottom: 5px;
    ;
}

.leatest-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    font-size: 15px;
}

.product {
    flex: 1 0 300px;
    border-radius: 4px;
    width: calc((100% - 100px) /3);
    justify-content: center;
    position: relative;
}

/*end leatest product*/
/* start newslater*/
.newslater {
    background-image: url('./../img/puplic/newslater.webp ');
    padding: 150px 0;
    text-align: center;
}

.newslater h2 {
    margin-bottom: 40px;
    color: #151875;
    font-size: 30px;
}

.shop-btn {
    transition: all .5s;

}

.shop-btn:hover {
    background-color: #0D0E43;
}

/* end newslater */
/* start client*/
.clients {
    padding: 40px 0;

}

.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow: auto;
}

.clients .logo {
    width: calc((100% - 75px) /6);
}

.clients .img {
    width: 100px;
    height: ;
}

@media screen {
    .clients .logo {
        width: calc((100% - 30px) / 3);
    }

    /* end client*/

    /* start footer */

    .footer {
        background-color: #EEEFFB;
        padding: 50px 0;
    }

    .footer .row {
        gap: 20px;

    }

    .footer a,
    .address-info {
        color: #8A8FB9;
    }

    .footer .left-side {
        gap: 35px;
        width: 30%;
        align-items: flex-start;
    }

    .left-side .address-info {
        gap: 8px;
    }

    .footer .right-side {
        width: calc((100% - 20px) /2);

    }

    .footer-item {
        gap: 25px;
        width: calc((100% - 50px) / 3);
    }

    .footer .gap-2 {
        gap: 20px;
    }

    .footer .right-side .row {
        gap: 25px;
        align-items: flex-start;
    }

    @media screen and (max-width; 992px) {

        .footer .left-side,
        .footer .right-side {
            width: 100%;
        }
    }

    @media screen and (max-width:576px) {
        .footer {
            text-align: center;
        }

        .footer-item {
            width: 100px;
        }
    }

    @media screen and (max-width:330px) {
        .footer-item {
            width: 50px;
        }
    }

    /* end footer */